/* *************************************************************************************
    LANDING PAGE - TELA PRINCIPAL DO SISTEMA PARA VENDAS E APRESENTAÇÃO DO PRODUTO
****************************************************************************************** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TikTok Sans", sans-serif;
    
}

h1 { font-size: 25px; }
h3 { font-size: 18px; }
p { font-size: 15px; }

body{
    background-color:#0F0F0F ;
}
header{
    background:#0F3D2E;
    padding:15px 20px;
    
}


.nav-bar{ /* BARRA SUPERIOR*/
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap: 30px;
}

.logo-foto{ /* LOGO PRINCIPAL*/
    width: 250px;
    height: auto;
    
}

.logo{ /* LOGO DA NAVBAR*/
    width: 100px;
    height: auto;
    justify-content: center;
    display: flex;
    align-items: center;
}



.btn-cliente{ /* BOTAO PARA ENTRAR NO SISTEMA*/
    background:white;
    color:#0F3D2E;
    border-radius:8px;
    text-decoration:none;
    font-weight:600;
    font-size: small;
    cursor:pointer;
    transition:0.3s;
    width: 115px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn-cliente:hover{ /* EFEITO DO BOTAO DESKTOP*/
    transform:scale(1.05);
}


strong{ /* FUNDO DA TAG STRONG*/
    background-color:#0F3D2E ;
}

.principal{ /* texto principal*/
    background:linear-gradient(180deg, #1F1F1F, #0F0F0F);
    color: #F5F5F5;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
    font-size: 13px;
    
    
}

.txt-sec{ /* texto secundario*/
    padding: 20px;
    opacity: 0.8;
    
}

.txt-beneficios{ /* TITULO BENEFICIOS*/
    color: #ffffff;
    text-align: center;

}

.btn-comecar{ /* PRIMEIRO BOTAO DE COMEÇAR TESTE GRATIS*/
    height:60px;
    width:240px;
    border-radius:8px;
    background-color: #0F3D2E;
    color:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

a{
    text-decoration: none; /* PARA TIRAR A COR E O SUBLINHADO DO BOTAO */
    color: inherit;
    
}

.btn-comecar:hover{ /* EFEITO PRIMEIRO BOTAO COMEÇAR*/
    transform:scale(1.05);
}

.container-cards{ /* FUNDO DA SECTION DOS CARDS BENEFICIOS*/
    background-color: #0F3D2E;
    padding: 20px;
    flex-direction: column;
    display: flex;
    gap: 15px;
}
.card-beneficios{ /* CARDS BENEFICIOS*/
    
    padding: 30px 20px 30px 20px;
    font-size: 15px;
    /*align-items: center;*/
    text-align: left;
    margin: auto;
    background-color: #ffffff;
    border-radius: 20px;
    width: 250px;
    color: #222b26;
    box-shadow:0 10px 25px rgba(0,0,0,0.25);
    transition:0.3s;
    
    
}

.card-beneficios:hover { /* EFEITO DESKTOP DOS CARDS BENEFICIOS*/
    transform: translateY(-5px);
}

.plano-profissional { /* EFEITO CARD PLANO PROFISSIONAL*/
    
    border: 5px solid #56e4b4;
}

.finalizacao{ /*FINALIZACAO DO SITE*/
    background-color: #0F3D2E;
    color: #F5F5F5;
    padding: 20px 20px 10px 20px;
    text-align: left;
    font-size: small;
    
}

.contato, .carneiro-system{ /* FONTE DO FINAL DA PAGINA*/
    font-size: large;
}

.linha{ /* LINHA DE DESIGN*/
    background-color: #ffffff;
    border-radius: 20%;
    height: 2px;
    width: 60%;
    margin-bottom: 15px;
    
}

.encerramento{    /* ALINHAMENTO DO FINAL DA PAGINA*/
    text-align: left;
    padding: 20px 0px 20px 0px;
}

.telefone{
    background-color: #0F0F0F;
    border-radius: 20px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.direitos{ /* FOOTER DA PAGINA*/
    padding: 20px 0px 0px 0px;
}




